{% extends 'base.html' %} 
{% block content %} 
<h1>Returns and refunds</h1>
    <p>
      If you’re looking to return or exchange your order for whatever reason, we're here to help! We offer free returns or exchanges within 30 days of receiving your order. You can return your product for store credit, a different product, or a refund to the original payment method.
    </p>
    <p>
    Please note the following exceptions to our return and exchange policy:
    </p>
    <ul>
    <li>Discounted items are final and cannot be returned or exchanged
    <li>Returned items must have tags still on and be returned in original packaging</li>
    <li>Returned items must have no visible signs of wear or use</li>
    </ul>

    <p>To initiate a return or exchange, please complete the following steps:</p>

    <ol>
    <li>Login to our online return portal using your email address and order ID</li>
    <li>Choose the products you wish to return or exchange from your order</li>
    <li>Print your prepaid shipping label that you will receive by email</li>
    <li>Send all items back to us using the label provided</li>
    </ol>

</p>
{% endblock content %}